{{!< layout}}

<div class="aui-message">
  <p class="title">
    <strong>Backup stale</strong>
  </p>
  <p>This instance was last backed up on <time>Thursday, 18 September 2011.</time></p>
</div>
<div class="aui-message aui-message-warning">
  <p class="title">
    <strong>Backing up attachments</strong>
  </p>
  <p>Attachments will not be backed up. This needs to be done manually.</p>
</div>