{{!< layout}}

<div class="aui-message">
  <p class="title">
    <strong>Current status: Paused</strong>
  </p>
  <p>Status was hold for <time>01 month, 04 day, 22 hour, 18 minute, 09 second.</time></p>
</div>
<div class="aui-message aui-message-warning">
  <p class="title">
    <strong>Due date alert</strong>
  </p>
  <p>Time remaining: <time>02:44:00</time></p>
</div>

{{!-- <p>
  <button class="aui-button aui-button-primary" type="button" onclick="getInfo()">Debug</button>
</p> --}}
<p>
  <button class="aui-button aui-button-primary" type="button" onclick="checkAPI()">Test</button>
</p>