{{!< layout}}
<p>
  <button class="aui-button aui-button-primary" type="button" onclick="checkAPI()">Trigger</button>
</p>
<div id="details" style="margin-top: 10px;">
{{!-- <div class="aui-message">
  <p class="title"><strong>Current status: Paused</strong></p>
  <p>Status was hold for <time>01 month, 04 day, 22 hour, 18 minute, 09 second.</time></p>
</div> --}}
</div>